<!-- HURA 8 -->
<!-- INDEX TEMPLATE -->
<!-- 
{% if global.url contains "?type=ajax" -%}
{{ page_content }}

{% else -%}
<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="document" name="resource-type" />
    
    {% if global.module.module == 'error' and global.module.view == '404_not_found' -%}
    <meta name="robots" content="noindex, nofollow" />
    {% else -%}
    <meta name="robots" content="index, follow" />
    {% endif -%}

    {% include 'other/meta_seo' %}

    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ global.domain }}" href="/product.rss" />
    <link rel="shortcut icon" href="{{ global.domain }}{{ 'favicon.ico' | asset_url }}" type="image/x-icon" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" />

    <link rel="stylesheet" href="{{ global.domain }}{{ 'library.css' | asset_url }}?v={{ 'now' | date: '%d.%m.%Y.%H.%M.%S' }}" />
    <link rel="stylesheet" href="{{ global.domain }}{{ 'style_pc.css' | asset_url }}?v={{ 'now' | date: '%d.%m.%Y.%H.%M.%S' }}" />
  </head>

  <body>
    {% if global.module.module == 'error' and global.module.view == '404_not_found' -%}
    {{ page_content }}
    
    {% else -%}
    {% include 'other/header' %}

    {% include 'other/breadcrumb' %}

    {{ page_content }}

    {% include 'other/footer' %}

    {% include 'javascript/index' %}
    
    <div id="google_translate_element2"></div>
    <style type="text/css">body{top:0!important}font{background:transparent!important;box-shadow:unset!important}#goog-gt-tt{display:none!important}.goog-te-banner-frame{display:none!important}.goog-te-menu-value:hover{text-decoration:none!important}#google_translate_element2{display:none!important}.skiptranslate{display:none}</style>
    <script type="text/javascript">function googleTranslateElementInit2(){new google.translate.TranslateElement({pageLanguage:"vi",autoDisplay:!1},"google_translate_element2");var e=document.getElementById("goog-gt-tt");e.parentNode.removeChild(e)}</script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2" type="text/javascript"></script>
    <script src="{{ 'translate.js' | asset_url }}?v=1.0"></script>
    
    {% endif -%}

    <div class="global-popup-frame">
      <div class="global-popup-modal"></div>
    </div>

    <div class="success-cart hide">
      <div class="success-cart-content">
        <svg class="success-cart-svg" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"><path class="success-cart-circle" d="M13 1C6.372583 1 1 6.372583 1 13s5.372583 12 12 12 12-5.372583 12-12S19.627417 1 13 1z"/><path class="success-cart-tick" d="M6.5 13.5L10 17 l8.808621-8.308621"/></g></svg>
        <p class="success-cart-text">Thêm sản phẩm vào giỏ hàng <br />thành công!</p>
      </div>
    </div>

  </body>
</html>

{% endif -%} -->

<!-- INDEX SCRIPT -->
<!-- <script src="{{ 'vendors.js' | global_asset_url }}"></script>
<script src="{{ 'hura8.js' | global_asset_url }}"></script>
<script src="{{ 'library.js' | asset_url }}?v=1.0"></script>

{% include 'javascript/tpl' %}
{% include "javascript/global" %}

{% if global.module.name == 'home' -%}
{% include 'javascript/homepage' %}

{% elsif global.module.name == 'product' and global.module.view == 'category' or global.module.view == 'product-collection' or global.module.view == 'product-search' or global.module.module == 'brand' or global.module.module == 'tag' or global.module.view == 'product-hot' or global.module.view == 'product-view-history' or global.module.view == 'all-product' -%}


{% elsif global.module.view == 'product-detail' -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>


{% elsif global.module.name == 'article' -%}


{% elsif global.module.name == 'cart' -%}


{% elsif global.module.module == 'customer' or global.module.module == 'account' -%}


{% endif %}

<script>
  $(document).ready(function () {
    globalHandle();

    {% if global.module.view == "homepage" -%}
  	homepageHandle();
  
  	{% elsif global.module.name == 'product' and global.module.view == 'category' or global.module.view == 'product-collection' or global.module.view == 'product-search' or global.module.module == 'brand' or global.module.module == 'tag' or global.module.view == 'product-hot' or global.module.view == 'product-view-history' or global.module.view == 'all-product' -%}
  

    {% elsif global.module.view == "product-detail" -%}

  
  	{% elsif global.module.name == 'article' -%}

  
  	{% elsif global.module.name == 'cart' -%}


    {% endif %}
  });
</script> -->