<!--
  {% assign _static_alt = page.article_detail.title|prepend: 'alt="'|append: '"' -%}
  {% assign _static_content = page.article_detail.content|replace: 'alt=""', _static_alt|replace: '<h1', '<h2'|replace: '</h1>', '</h2>' -%}
-->

<!-- 
  {% for _item in component.product.all_category -%}

  {% endfor -%}
-->

<!-- 
  {% for item in component.article.all_category.article -%}

  {% endfor -%}
-->

<!-- GLOBAL JAVASCRIPT TEMPLATE -->
<script>
  var web_layout = "{{ global.layout }}";
  var is_admin_login = "{{ global.is_admin_login }}";
  var no_image = "{{ 'no_image.png' | asset_url }}";
  var asset_index = "{{ 'no_image.png'|asset_url|replace: 'no_image.png'|'' }}";

  function globalHandle() {
    Hura.UI.loadGroup(lazy_load_group);
    runLazyImageLoad();

    headerCartHandle();
    viewMoreHandle(".js-vm-block");
    reSizeVideoIframe(".static-html iframe");
    searchHandle('#js-search-bar', 'search', search_results_tpl, 30);

    globalBannerPopup();
  }
</script>

<script>
  // GLOBAL BANNER POPUP
  function globalBannerPopup() {
    const target = "#js-banner-popup-container";
    if ($(target).length === 0) return;

    const module = $(target).attr("data-module");
    const display = $(target).attr("data-display");

    if (display === "homepage") {
      if (module === "home") displayPopup();
      return;
    }

    const key = "global_banner_popup";
    const session = sessionStorage.getItem(key);
    if (session) return;

    displayPopup();
    sessionStorage.setItem(key, "1");

    function displayPopup() {
      setTimeout(function () {
        $(target).show().find(".banner-popup-content").fadeIn(500);
      }, 3000);
    }
  }
</script>

<!-- PRODUCT DETAIL JAVASCRIPT TEMPLATE -->
<script>
  var ITEM_TYPE = 'product';
  var ITEM_ID = '{{ page.product_info.productId }}';
  var ITEM_NAME = `{{ page.product_info.productName }}`;
  var ITEM_PRICE = '{{ page.product_info.price }}';
  var ITEM_QUANTITY = '{{ page.product_info.quantity }}';
  var CAT_ID = '{% assign _last_cat = page.product_info.productPath.0.path|last %}{% if _last_cat %}{{ _last_cat.id }}{% else %}0{% endif %}';
  var BRAND_ID = '{{ page.product_info.brand.id }}';
  var VARIANT_SELECTED = {};

  function productDetailHandle() {

  }
</script>

<!-- HEADER SEARCH HTML -->
<div class="header-search relative search-bar js-search-bar" id="js-search-bar">
  <form class="search-bar__form" method="get" action="/tim" enctype="multipart/form-data">
    <input class="search-bar__input js-search-bar-input" type="text" name="q" placeholder="Tìm kiếm sản phẩm...">

    <select class="search-bar__category" name="category" id="search-bar-category">
      <option value="">Tất cả danh mục</option>
      <option value="1003355586">PC GAMING</option>
      <option value="1003486516">PC WORKSTATION 2D 3D</option>
      <option value="1004131917">PC AMD GAMING</option>
      <option value="1004133040">PC MINI</option>
      <option value="1004131911">PC VĂN PHÒNG</option>
      <option value="1004493570">Linh kiện máy tính</option>
      <option value="1004052695">PC GIẢ LẬP ẢO HÓA</option>
      <option value="1003486567">Màn hình máy tính</option>
      <option value="1001347452">Gaming Gear</option>
      <option value="1004167839">Full Bộ PC Kèm Màn Hình</option>
      <option value="1004301539">Loa máy tính</option>
      <option value="1003530620">OnSale</option>
      <option value="1004108807">CARD MẠNG KHÔNG DÂY</option>
    </select>

    <button class="search-bar__btn" type="submit" title="Tìm kiếm" aria-label="Tìm kiếm">
      <i class="ttgshop-icons icon-search-1"></i>
    </button>
  </form>

  <div class="search-results">
    <div class="search-results__list js-search-results-list"></div>
    <a href="javascript:;" class="search-results__total js-search-results-total"></a>
  </div>
</div>